# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# All files
[*]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true
