[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-liquid"]
	path = .vim/bundle/vim-liquid
	url = git://github.com/tpope/vim-liquid.git
[submodule ".vim/bundle/vim-golang"]
	path = .vim/bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/base16-vim"]
	path = .vim/bundle/base16-vim
	url = git://github.com/chriskempson/base16-vim.git
[submodule ".vim/bundle/hemisu"]
	path = .vim/bundle/hemisu
	url = git://github.com/noahfrederick/Hemisu.git
[submodule ".vim/bundle/VimClojure"]
	path = .vim/bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/vim-classpath"]
	path = .vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-vroom"]
	path = .vim/bundle/vim-vroom
	url = git://github.com/skalnik/vim-vroom.git
[submodule "/Users/dan/.vim/bundle/vim-dispatch"]
	path = /Users/dan/.vim/bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
